<html>
<head>
  <meta charset="utf-8">
  
  <title>Inventory</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
 
</head>
<body class="hold-transition sidebar-mini">
	
	<div class="wrapper">
		
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
		<!-- Left navbar links -->
			<ul class="navbar-nav">
				
				<li class="nav-item d-none d-sm-inline-block">
				<a href="/" class="nav-link">Home</a>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->
		
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
			<a href="/" class="brand-link">
			  <img src=""
				   alt=""
				   class="brand-image img-circle elevation-3">
			  <span class="brand-text font-weight-light">Inventory</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
			<!-- Sidebar Menu -->
  <nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	  <li class="nav-item">
		<a href="/add" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Add product</p>
		</a>
	  </li>
	  <li class="nav-item">
		<a href="/sales" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Sales Details</p>
		</a>
    </li>
    <li class="nav-item">
    <a href="/update" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Update Sales Details</p>
		</a>
	  </li>
	  
      
	  
	</ul>
</nav>
<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			
			<section class="content-header">
				<h1> Inventory Management</h1>
			</section>
			
			<section class="content">
				<div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Stock Details</h3>
                      <div class="card-tools">
                        
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                          <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                          <i class="fas fa-times"></i></button>
                      </div>
                      <div class="card-body table-responsive p-0" style="height: 400px;">
                        <table class="table table-striped table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th style="width: 10%" >purchase_date</th>
                                    <th style="width: 10%" >product_id</th>
                                    <th style="width: 10%" >unit_price</th>
                                    <th style="width: 15%" >quantity</th>
                                    <th style="width: 10%" >total_sales</th>
                                    <th style="width: 20%" > </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i<users.length; i++) {%>
                                    <tr>
                                        <td>
                                            <%=users[i]['purchase_date']%>
                                        </td>
                                        <td>
                                            <%=users[i]['product_id']%>
                                        </td>
                                        <td>
                                            <%=users[i]['unit_price']%>
                                        </td>
                                        
                                        <td>
                                            
                                            <small><%=users[i]['quantity']%></small>
                                        </td>
                                        <td>
                                            <%=users[i]['total_sales']%>
                                        </td>
                                    </tr><% } %></tbody></table>
                                    
                    </div>
                    </div>
                </div>
                <button onclick="window.print()"class="btn">Print</button>
			</section>
		</div>

		
	</div>
  
</body>
</html>